.container {
  font-family: sans-serif;
  font-size: 16px;
  text-align: left;
}

.label {
  color: #6666;
  margin-bottom: 3px;
}

.regularValue {
  color: #212521;
  font-weight: bold;
}

.warningValue {
  color: red;
  font-weight: bold;
}
