.label {
  background-color: #1d82e3;
  color: #fff;
  padding: 15px;
  text-align: left;
}

table {
  width: 100%;
}

.data td:not(:last-child) {
  border-right: 1px solid #ced4da;
}
.data:nth-child(2n-1) {
  background-color: #f6f6f6;
}
