body {
  font-family: Arial, Helvetica, sans-serif;
}
*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  display: "";
}

nav {
  display: grid;
  height: 50px;
  background-color: beige;
  align-items: center;
}
nav a {
  margin-right: 1rem;
}
main {
  display: grid;
  place-items: center;
  min-height: calc(100vh - 3rem);
}
.nav-center {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

ul {
  list-style-type: none;
  cursor: pointer;
}
ul li:hover {
  font-weight: bold;
}
.nav-links {
  display: flex;
}
.container {
  text-align: center;
}
.container h2 {
  background-color: black;
  color: white;
  padding: 1rem;
  border-radius: 0.5rem;
  margin-bottom: 2.5rem;
}
button {
  background-color: transparent;
  border-radius: 0.5rem;
  padding: 1rem;
  cursor: pointer;
  letter-spacing: 0.25rem;
  font-weight: 600;
}
button:hover {
  background-color: black;
  color: white;
  font-weight: bold;
}
